<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>upc_socket2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- TCP 소켓 서버 리스너 -->
  <listener>
    <listener-class>com.tcp.socket.listener.SocketServerContextListener</listener-class>
  </listener>
  
  
  <!-- 리스너 초기 파라미터: 소켓 포트 지정 -->
  <context-param>
    <param-name>socket.port</param-name>
    <param-value>9100</param-value>
  </context-param>
  
  
</web-app>